/* 
    Created on : 28-mar-2017, 12.05.34
    Author     : alessio
*/

body{
    background-color: #FFB917;
    color: #000000;
    font-family: 'Cambria',sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 3px;
}
h1{
    font-family: 'Impact','Arial',sans-serif;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    font-family: 'Impact','Arial',sans-serif;
    font-size: 25px;
    padding: 0px;
}

h3{
    font-family: 'Impact','Arial',sans-serif;
    font-size: 20px;
}

p{
    margin-top: 5px;
    margin-bottom: 5px
}

nav.NavBarSuperiore a {
    padding: 15px;
    
    
}

.post{
    border: solid 2px #000000;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 5px;
}

.NavBarSuperiore{
    border: solid 2px #000000;
    width: auto;
}

#nomeSito{
    
    border: solid 2px #000000;
    margin: 0px;
    float: left;
}

.intestazione{
    width: 100%;
    height: 50px;
}


.NavBarLaterale{
    border: solid 2px #000000;
    margin-top: 5px;
    
    
}

#presentazione{
    font-weight: bold;
    border: solid 2px;
}

.casellaForm{
    border: 3px black solid;
    margin: 5px auto;
    width: 200px;
    height: auto;
}

.casellaFormProfilo{
    border: 3px black solid;
    margin: 5px auto;
    height: auto;
}

input{
    margin-bottom: 5px;
}

#pulsanteInvio{
    width:100%
}

.centrato{
    text-align: center;
}

label:before{
    content: '\A';
    white-space: pre;
}


a:link{
    color: #1FA36F;
}

a:visited{
    color: #1D989C;
}

@media only screen and (min-width:1024px){
    
    .corpoCentrale{
        margin-left: 170px;
    }
    
    .NavBarLaterale{
        float: left;
        width: 160px;
        height: 100%;
        padding-bottom: 100%;
    }
    
    .casellaFormProfilo{
        width: 400px;
    }
    
    #nomeSito{
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        width: 120px;
        height: 36px;
    }
    
    .NavBarSuperiore{
        padding: 15px;
        height: 17px;
    }
    nav.NavBarSuperiore a{
        width: 130px;
        height: 50px;
        border-right: solid #000000 2px;
    }
    
}

@media only screen and (max-width:480px){
    
    .NavBarLaterale{
        width: 300px;
        height: auto;
        margin: 0 auto;
    }
    
    img{
        max-width: 100%;
        height: auto;
    }
    
    .fotoProfilo{
        width: 80px;
        height: 80px;
    }
    
    .casellaFormProfilo{
        width: auto; 
    }
    
    #nomeSito{
        font-size: 25px;
        padding: 0px 5px;
    }
    
    .NavBarSuperiore{
        padding: 5px;
        height: 21px;
    }
    nav.NavBarSuperiore a{
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width:1024px) and (min-width:480px){
    .corpoCentrale{
        margin-left: 170px;
    }
    
    .NavBarLaterale{
        float: left;
        width: 160px;
        height: 100%;
        padding-bottom: 100%;
    }
    
    .casellaFormProfilo{
        width: 400px;
    }
    
    #nomeSito{
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        width: 120px;
        height: 36px;
    }
    
    .NavBarSuperiore{
        padding: 15px;
        height: 17px;
    }
    
    nav.NavBarSuperiore a{
        width: 130px;
        height: 50px;
        border-right: solid #000000 2px;
    }
    
    img{
        max-width: 100%;
        height: auto;
    }
}